:host ::ng-deep {
  .speeddial-linear-demo {
    .p-speeddial-direction-right {
      left: 0;
      top: calc(50% - 2rem);
    }
  }
}

.blog_body_content {
  margin: 20px 0px;
}

.submit_button {
  margin-top: 100px;
}
